* {
  overflow-x: auto;
  white-space: nowrap
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 100vh;
}
.navClass {
  background-color:rgba(34, 34, 34, 0.3);
  border-bottom: 2px solid red;
  color: white;
}

li a{
  color: white !important;
  font-weight:600 !important;
}



.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color:red;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
}

.welcome {
  color: white;
  padding-top:60px;
  text-align: center;
  font-size: 3em;
}

.greeting{
  color: white;
  padding-top:60px;
  text-align: center;
  margin-bottom: 20px;
}

.pageBackground{
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 100vh;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableDiv{
  background-color: white;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.tableDiv2{
  background-color: white;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.current, .wish{
  color: white;
  padding-top:60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 3em;
}


.mybtn{
 width: 90px;
 margin-left: 20%;  
}

.mybtn2{
 width: 90px;
 margin-right: 20%;  
}

 .button{
  color: white;
  text-align: center;
  text-decoration: none;
 
}

.add-button {
font-size: 20px;
  font-weight: 600;
  background-color:red;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
}

.CardDiv{
	
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
  
}

.cardStyle{
	margin: 20px;
	border: solid white 2px;
}

.title{
	font-weight: bold;
	
}

.cardInfo{
text-align: center;
	
}



@media only screen and (max-width: 700px) {
  .add-button {
    width: 200px;
    font-size: 10px;
  }
  
}
@media only screen and (max-width: 700px) {
 
  .welcome {
  font-size: 30px;
  }
  
}