* {
  margin: 0;
  padding: 0;
 
}

.navClass {
  background-color:rgba(34, 34, 34, 0.3);
  border-bottom: 2px solid red;
  color: white;
}

li a{
  color: white !important;
  font-weight:600 !important;
}


.pageBackground{
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 115vh;
}

.formCard{
  margin: auto;
  width: 40%;
  color:white;
  padding-bottom: 50px; 
  border: 2px solid white;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px; 
}

h1{
  color: white;
  text-align: center;
  padding-top: 100px;
}

.pageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signInHeader{
	margin-top: -40px;
	margin-bottom: 20px;
} 

.error{
	text-align: center;
	color: white;
	font-size: 1.5em;
	padding-top:20px;
}